:root {
  --eventBg: #f5f9fb;
  --pagebg: #efefef;
  --white: #ffffff;
  --primaryblack: royalblue;
  --textColor: #0a0a0a;
  --error: #98251d;
  --disabledbg: #e7e7e7;
  --disableborder: #b5b5b5;
  --disabletext: #999;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  max-width: 80rem;
  padding: 0 4vw;
  margin: 3.125rem auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: royalblue;
}

h3 {
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin: 0 auto;
}

img {
  border-style: none;
  max-width: 100%;
  padding: 0;
}

a {
  display: inline-block;
}

p {
  margin: 0 0 1rem 0;
}

button:disabled {
  background-color: var(--disabledbg) !important;
  cursor: not-allowed;
  color: var(--primaryblack) !important;
  border-color: var(--disableborder) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #c3c3c3;
  -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
  -webkit-text-fill-color: var(--primaryblack);
  transition: background-color 0.5s ease-in-out
}

input:disabled {
  background-color: var(--disabledbg) !important;
  color: var(--disabletext);
  cursor: not-allowed;
}

input[type="search"] {
  -webkit-appearance: none;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

footer {
  position: relative;
  padding: 0.5rem;
  margin: 2rem 0;
  background-color: var(--white);
  font-size: 0.875rem;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    max-width: 12.5rem;
  }
}